@import "bootstrap/scss/functions";

@import "./variables";

@import "bootstrap/scss/bootstrap";

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.custom-card-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.custom-images{
  max-width: 200px;
}